<section class="container py-5 bg-dark text-light position-relative overflow-hidden min-vh-100 d-flex justify-content-center align-content-center">

    <div class="row">


        <!-- Image -->
        <div class="col-lg-6 hero-image d-flex align-items-center justify-content-center">
            <img class="img-thumbnail p-1 p-lg-3 shadow" src="../../../assets/images/self-image.jpeg" style="width: 90%;" />
        </div>

        <!-- Heading -->
        <div class="hero-heading col-lg-6 my-0 my-lg-auto position-relative">

            <div class="p-lg-5 p-2 mt-3 text-center text-lg-start">
                <p class="fs-3 fw-light">Hi, I'm</p>
                <h1 class="display-1 fw-bold">Jose Ramirez</h1>
                <p class="fs-3 fw-light">I develop experiences that last!</p>
                <a href="#projects" class="btn btn-light fs-6">Check my work!</a>
            </div>

        </div>
  </div>

</section>