<div class="container-fluid p-0">
    <div class="row">
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onResetPassword()" class="col-12 w-100 bg-dark text-light d-flex flex-column justify-content-center mx-auto">
            <h1 class="text-center text-light mb-5">Reset Password</h1>

            <div class="mb-3 col-12 col-md-8 col-lg-6 mx-auto">
                <label for="password" class="form-label">New Password</label>
                <input [ngClass]="{'is-invalid': resetPasswordForm.get('password')?.errors && (resetPasswordForm.get('password')?.touched || resetPasswordForm.get('password')?.dirty), 'is-valid':resetPasswordForm.get('password')?.valid}" formControlName="password" type="password" class="form-control" id="password" name="password">
                <ul class="list-group" *ngIf="!resetPasswordForm.get('password')?.valid && resetPasswordForm.get('password')?.touched">
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="resetPasswordForm.get('password')?.hasError('required')">Password is required.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="resetPasswordForm.get('password')?.hasError('doesNotContainDigit')">Must contain digit.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="resetPasswordForm.get('password')?.hasError('doesNotContainLowercase')">Must contain lowercase letter.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="resetPasswordForm.get('password')?.hasError('doesNotContainUppercase')">Must contain uppercase letter.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="resetPasswordForm.get('password')?.hasError('doesNotContainNonAlphanumeric')">Must contain non-alphanumeric.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="resetPasswordForm.get('password')?.hasError('minlength')">Must be minimum 8 characters in length.</li>
                </ul>
            </div>

            <div class="mb-3 col-12 col-md-8 col-lg-6 mx-auto">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input [ngClass]="{'is-invalid': resetPasswordForm.get('confirmPassword')?.errors && (resetPasswordForm.get('confirmPassword')?.touched || resetPasswordForm.get('confirmPassword')?.dirty), 'is-valid':resetPasswordForm.get('confirmPassword')?.valid}" formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <div *ngIf="!resetPasswordForm.get('confirmPassword')?.valid && resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.hasError('matching')" class="form-text text-danger">Passwords do not match.</div>
            </div>

            <button class="btn btn-primary mt-2 col-12 col-md-8 col-lg-6 mx-auto" type="submit" >Reset Password</button>

        </form>
    </div>
</div>