<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
        <div class="d-flex flex-column flex-shrink-0 p-3 bg-dark user-side-bar position-fixed bottom-0 text-center border-end border-light">
            <a class="user-side-bar-toggle" href="#" (click)="onToggleUserPanel($event)">
                <i class="bi bi-arrow-right-circle"></i>
            </a>
            <div class="d-flex align-items-center link-light text-center ms-auto me-auto">
                <i class="bi bi-gear me-1 fs-4"></i>
                <span class="fs-4 text-center">User Actions</span>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link link-light px-1" routerLink="./WOD/Create">
                    <i class="bi bi-fire fs-4"></i>
                    Add WOD
                </a>
              </li>
              <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link link-light px-1" routerLink="./ChangePassword">
                    <i class="bi bi-key fs-4"></i>
                    Change Password
                </a>
              </li>
              <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="(userDetails$ | async)?.isLoggedIn && (userDetails$ | async)?.isAdministrator">
                <a href="#" class="nav-link link-light px-1" routerLink="./Register">
                    <i class="bi bi-person-plus fs-4"></i>
                    Register
                </a>
              </li>
            </ul>
            <hr>
            <div class="dropdown">
              <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="userOptions" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="../../assets/images/SelfPortrait.jpg" alt="" width="75px" class="rounded-circle me-2 img-circle">
                <strong>Hi Jose!</strong>
              </a>
              <ul class="dropdown-menu text-small shadow bg-dark" aria-labelledby="userOptions">
                <li>
                    <a class="dropdown-item text-light" href="#" (click)="onSignOut($event)">
                        <i class="bi bi-lock fs-4"></i>
                        Logout
                    </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>