<section class="container-fluid py-4 bg-dark" *ngIf="router.url !== '/SignIn'">
    <div class="col-12 text-light d-flex flex-wrap justify-content-center">
        <h2 class="col-12 text-center text-light">Created and Designed by Jose Ramirez</h2>
        <div class="d-flex col-6 mx-auto justify-content-center">
            <button class="btn btn-dark me-2">
                <i class="fs-4 bi bi-github w-100"></i>
            </button>
            <button class="btn btn-dark me-2">
                <i class="fs-4 bi bi-linkedin"></i>
            </button>
            <button class="btn btn-dark me-2">
                <i class="fs-4 bi bi-envelope"></i>
            </button>
        </div>
    </div>
</section>