<section class="container-fluid py-4 bg-dark" *ngIf="router.url !== '/SignIn'">
    <div class="col-12 text-light d-flex flex-wrap justify-content-center">
        <h2 class="col-12 text-center text-light">Created and Designed by Jose Ramirez</h2>
        <div class="d-flex col-6 mx-auto justify-content-center">
            <a href="https://github.com/JOSEGRQ-BYTE" target="_blank" class="btn btn-dark me-2">
                <i class="fs-4 bi bi-github w-100"></i>
            </a>
            <a href="https://www.linkedin.com/in/josegrquezada/" target="_blank" class="btn btn-dark me-2">
                <i class="fs-4 bi bi-linkedin"></i>
            </a>
            <a href="mailto:jgrquezada@gmail.com" target="_blank" class="btn btn-dark me-2">
                <i class="fs-4 bi bi-envelope"></i>
            </a>
        </div>
    </div>
</section>