<section class="row h-100">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center position-relative">


        <h1 class="h2 text-muted text-uppercase">{{formTitle}}</h1>
        <div class="col-11 col-sm-6 col-md-5 col-lg-4 mt-md-5 card bg-dark text-light mx-auto shadow-lg position-relative">

            <a title="View Training" href="#" routerLink="/WOD" class="d-flex btn btn-primary me-2 position-absolute logs-button rounded-circle text-center" style="width: fit-content;">
                <i class="bi bi-list-task h4 m-auto"></i>
            </a>

            <button title="Switch Forms" data-current-form="workout" (click)="onSwitchForms($event)" class="btn btn-primary me-2 position-absolute switch-form-button rounded-circle text-center" type="button" style="width: fit-content;">
                <i class="bi bi-arrow-left-right h5"></i>
            </button>

            <form class="py-3 px-3 active" [formGroup]="workoutForm" (ngSubmit)="onSubmit()" id="workout-form">

                <div class="mb-3 row g-3">
    
                    <!-- EXERCISE DROP DOWN -->
                    <div class="col-12">
                        <label for="exerciseId" class="form-label">Exercise</label>
                        <select [ngClass]="{'is-invalid': workoutForm.get('exerciseId')?.errors && (workoutForm.get('exerciseId')?.touched || workoutForm.get('exerciseId')?.dirty), 'is-valid':workoutForm.get('exerciseId')?.valid && workoutId == null }" id="exerciseId" class="form-select text-black" formControlName="exerciseId" [attr.disabled]="(!isEditing && workoutId != null)? 'disabled' : null">
                            <option [ngValue]="null" selected>Select Exercise</option>
                            <option *ngFor="let e of (execises$ | async)! | sortByProperty: 'exerciseName':'ASC'" [ngValue]="e.id">{{ e.exerciseName }}</option>
                          </select>
                        <div *ngIf="!workoutForm.get('exerciseId')?.valid && workoutForm.get('exerciseId')?.touched" class="form-text text-danger">Exercise is required.</div>
                    </div>
    
                    <!-- WEIGHT -->
                    <div class="col-12">
                        <label for="weight" class="form-label">Weight</label>
                        <input min="0" [readonly]="!isEditing && workoutId != null" formControlName="weight" [ngClass]="{'is-invalid': workoutForm.get('weight')?.errors && (workoutForm.get('weight')?.touched || workoutForm.get('weight')?.dirty), 'is-valid':workoutForm.get('weight')?.valid && workoutId == null }" type="number" class="form-control text-black" id="weight" aria-describedby="weight-feedback">
                        <div *ngIf="!workoutForm.get('weight')?.valid && workoutForm.get('weight')?.touched" class="form-text text-danger" id="weight-feedback">Weight is required.</div>
                    </div>

                    <div class="col-12">
                        <div class="form-check form-switch">
                            <input [attr.disabled]="(!isEditing && workoutId != null)? 'disabled' : null" class="form-check-input" type="checkbox" id="isBodyweight" [readonly]="workoutId == null || !isEditing" formControlName="isBodyweight">
                            <label class="form-check-label" for="isBodyweight">At Bodyweight?</label>
                        </div>
                    </div>
    
                </div>
    
                <div class="mb-3 row g-3">
    
                    <!-- REPS -->
                    <div class="col-12">
                        <label for="reps" class="form-label">Reps</label>
                        <input min="1" [readonly]="!isEditing && workoutId != null" formControlName="reps" [ngClass]="{'is-invalid': workoutForm.get('reps')?.errors && (workoutForm.get('reps')?.touched || workoutForm.get('reps')?.dirty), 'is-valid':workoutForm.get('reps')?.valid && workoutId == null }" type="number" class="form-control text-black" id="reps" aria-describedby="reps-feedback">
                        <div *ngIf="!workoutForm.get('reps')?.valid && workoutForm.get('reps')?.touched" id="reps-feedback" class="form-text text-danger">Reps are required.</div>
                    </div>
    
                    <!-- SETS -->
                    <div class="col-12">
                        <label for="sets" class="form-label">Sets</label>
                        <input min="1" [readonly]="!isEditing && workoutId != null" formControlName="sets" [ngClass]="{'is-invalid': workoutForm.get('sets')?.errors && (workoutForm.get('sets')?.touched || workoutForm.get('sets')?.dirty), 'is-valid':workoutForm.get('sets')?.valid && workoutId == null }" type="number" class="form-control text-black" id="sets" aria-describedby="sets-feedback">
                        <div *ngIf="!workoutForm.get('sets')?.valid && workoutForm.get('sets')?.touched" id="sets-feedback" class="form-text text-danger">Sets are required.</div>
                    </div>
    
                </div>
    
                <div class="row m-0 card position-absolute p-3 buttons-popover">
                    <!-- Submit -->
                    <div class="col p-0">
                        <button title="Save Form" class="btn btn-primary me-2 no-hightlight" type="submit" style="width: fit-content;"><i class="bi bi-save"></i><span class="button-detail ms-2">{{ workoutId != null? 'Update' : 'Save' }}</span></button>
                        <button *ngIf="workoutId != null" title="Delete Workout" class="btn btn-danger me-2 no-hightlight" type="button" (click)="onDeleteConfirmation(confirm)"><i class="bi bi-trash3"></i><span class="button-detail ms-2">Delete</span></button>

                        <button title="Select Workout" class="btn btn-primary float-end no-hightlight" type="button" (click)="onPickExercise(workouts)"><i class="bi bi-view-stacked"></i><span class="button-detail ms-2">Select</span></button>
                        <button *ngIf="workoutId != null" title="Edit Workout" class="btn btn-primary float-end me-2 no-hightlight " type="button" (click)="onToggleEditMode()"><i *ngIf="!isEditing" class="bi bi-pencil-square"></i><i *ngIf="isEditing" class="bi bi-shield-lock"></i><span class="button-detail ms-2">{{ isEditing? 'Lock' : 'Edit' }}</span></button>
                        <button title="Clear Form" class="btn btn-primary float-end me-2 no-hightlight " type="button" (click)="onClearForm($event)"><i class="bi bi-x-lg"></i><span class="button-detail ms-2">Clear</span></button>
                    </div>
                </div>
            </form>

            <form class=" py-3 px-3" [formGroup]="exerciseForm" (ngSubmit)="onSubmitExercise()" id="exercise-form">
                <div class="mb-3 row g-3">
    
                    <!-- Name -->
                    <div class="col-12">
                        <label for="exerciseName" class="form-label">Name</label>
                        <input [readonly]="!isEditing && exerciseId != null" formControlName="exerciseName" [ngClass]="{'is-invalid': exerciseForm.get('exerciseName')?.errors && (exerciseForm.get('exerciseName')?.touched || exerciseForm.get('exerciseName')?.dirty), 'is-valid':exerciseForm.get('exerciseName')?.valid && workoutId == null }" type="text" class="form-control text-black" id="exerciseName" aria-describedby="exercise-name-feedback">
                        <div *ngIf="!exerciseForm.get('exerciseName')?.valid && exerciseForm.get('exerciseName')?.touched" id="exercise-name-feedback" class="form-text text-danger">Name is required.</div>
                    </div>
    
                    <!-- Description -->
                    <div class="col-12">
                        <label for="description" class="form-label">Description</label>
                        <textarea [readonly]="!isEditing && exerciseId != null" rows="3" [ngClass]="{'is-invalid': exerciseForm.get('description')?.errors && (exerciseForm.get('description')?.touched || exerciseForm.get('description')?.dirty), 'is-valid':exerciseForm.get('description')?.valid && exerciseId == null}" class="form-control text-black" id="description" aria-describedby="description-feedback" formControlName="description">
                        </textarea>
                        <div *ngIf="!exerciseForm.get('description')?.valid && exerciseForm.get('description')?.touched" id="description-feedback" class="form-text text-danger">Description is required.</div>
                    </div>
    
                </div>
    
                <div class="row m-0 card position-absolute p-3 buttons-popover">
                    <!-- Submit -->
                    <div class="col-12 p-0">
                        <button title="Save Form" class="btn btn-primary me-2 no-hightlight" type="submit" style="width: fit-content;"><i class="bi bi-save"></i><span class="button-detail ms-2">{{ exerciseId != null? 'Update' : 'Save' }}</span></button>
                        <button *ngIf="exerciseId != null" title="Delete Exercise" class="btn btn-danger me-2 no-hightlight" type="button" (click)="onDeleteConfirmation(confirm)"><i class="bi bi-trash3"></i><span class="button-detail ms-2">Delete</span></button>

                        <button title="Edit Exercise" class="btn btn-primary float-end no-hightlight" type="button" (click)="onPickExercise(content)"><i class="bi bi-view-stacked"></i><span class="button-detail ms-2">Select</span></button>
                        <button *ngIf="exerciseId != null" title="Edit Exercise" class="btn btn-primary float-end me-2 no-hightlight " type="button" (click)="onToggleEditMode()"><i *ngIf="!isEditing" class="bi bi-pencil-square"></i><i *ngIf="isEditing" class="bi bi-shield-lock"></i><span class="button-detail ms-2">{{ isEditing? 'Lock' : 'Edit' }}</span></button>
                        <button title="Clear Form" class="btn btn-primary float-end me-2 no-hightlight" type="button" (click)="onClearForm($event)"><i class="bi bi-x-lg"></i><span class="button-detail ms-2">Clear</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-uppercase" id="modal-basic-title">Select Exercise to Edit</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <div class="list-group border-3">
                    <button (click)="onExerciseSelected(e.id)" href="#" class="list-group-item list-group-item-action" *ngFor="let e of (execises$ | async)! | sortByProperty: 'exerciseName':'ASC'">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-2">{{ e.exerciseName }}</h5>
                      </div>
                      <small class="ms-2">{{e.description}}</small>
                    </button>
                  </div>
            </div>
        </div>
    </div>
</ng-template>

<ng-template #workouts let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title text-uppercase" id="modal-basic-title">Select Workout to Edit</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12">

                <ol class="list-group list-group-numbered">
                    <li *ngFor="let w of (workouts$ | async)! | sortByProperty: 'exerciseName':'ASC'" class="list-group-item d-flex justify-content-between align-items-start">
                        <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ w.exerciseName }}</div>
                        </div>
                        <span class="badge bg-primary rounded-pill">{{ w.created| date: 'MM/dd/yyyy'}}</span>
                        <a href="#" [attr.data-id]="w.id" (click)="onWorkoutSelected($event)" class="position-absolute top-0 bottom-0 start-0 end-0 " style="z-index: 3;">
                        </a>
                    </li>
                </ol>

            </div>
        </div>
    </div>
</ng-template>



<ng-template #confirm let-c="close" let-d="dismiss">
    <div class="modal-body">
        <div class="row">
            <div class="col-12">
                <p class="text-center m-0">Are you sure you you want to delete this item?</p>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger no-hightlight" (click)="onDeleteExercise()">Delete</button>
        <button type="button" class="btn btn-outline-light no-hightlight" (click)="c('Cancel click')">Cancel</button>
    </div>
</ng-template>