.hero-image > img {
    filter: grayscale(50%);
}
.hero-image{
    z-index:1;
}
.hero-heading{
    z-index:1;
}
.mark
{
    background-image: url(/assets/images/for-the-world.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.my-image{
  position: absolute;
  background-image: linear-gradient(to right, rgb(182, 244, 146), rgb(51, 139, 147));
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}