<div class="shadow offcanvas-lg offcanvas-end offcanvas-md offcanvas-sm  app-side-bar col-3 col-sm-4 col-md-3 col-lg-12 px-sm-2 px-0 bg-dark position-fixed bg-dark" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    
    <div class="offcanvas-header d-lg-none d-none">
        <button type="button" class="btn-close text-reset float-end" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body overflow-visible container d-flex flex-column flex-md-column flex-lg-row align-items-center align-items-sm-end px-3 pt-5 py-lg-2 text-light h-100 bg-dark">
        
        <!--Nav Bar Logo -->
        <a href="/" class="pb-3 pb-md-3 pb-lg-0 mb-md-0 me-lg-auto text-light text-decoration-none my-lg-auto" routerLink="/Home">
            <span class="fs-5 d-sm-inline">Jose</span>
        </a>

        <!-- App Links -->
        <ul class="nav nav-pills flex-column flex-md-column flex-lg-row mb-auto mb-md-auto my-lg-auto align-items-center align-items-sm-end" id="menu">

                <!-- Home -->
            <li class="nav-item me-lg-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: false}">
                <a href="#" class="link-light nav-link align-middle px-0 d-flex align-items-center d-flex align-items-center" routerLink="/Home">
                    <i class="fs-4 bi bi-house"></i>
                    <span class="ms-1 d-none d-sm-inline">Home</span>
                </a>
            </li>

             <!-- About -->
            <li class="nav-item me-lg-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a href="#" class="link-light nav-link align-middle px-0 d-flex align-items-center" routerLink="/About">
                    <i class=" fs-4 bi bi-person-badge"></i>
                    <span class="ms-1 d-none d-sm-inline">About Author</span>
                </a>
            </li>

             <!-- Contact Me -->
            <li class="nav-item me-lg-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a href="#" class="link-light nav-link px-0 align-middle d-flex align-items-center" routerLink="/Contact">
                    <i class="fs-4 bi bi-telephone"></i>
                    <span class="ms-1 d-none d-sm-inline">Contact Me</span></a>
            </li>


            <!-- Resume -->
            <li class="nav-item me-lg-4" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
            <a href="../../assets/files/Jose_Ramirez_Online_Resume.docx" download class="link-light nav-link px-0 align-middle d-flex align-items-center">
                <i class=" fs-4 bi bi-file-text"></i>
                <span class="ms-1 d-none d-sm-inline">Resume</span> </a>
            </li>
        </ul>

        <!-- CrossFit API -->
        <div class="d-flex flex-column flex-lg-row justify-content-center align-items-center h-100" style="max-height: 200px;">
            <div class="dropdown pb-4 pb-md-4 pb-lg-0 my-lg-auto ms-0 ms-lg-5 me-lg-5">
                <a href="#" class="d-flex align-items-center text-light text-decoration-none dropdown-toggle d-flex align-items-center" id="wod-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                    <i class="fs-4 bi bi-trophy"></i>
                    <span class="d-none d-sm-inline ms-2">CrossFit</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-dark shadow bg-dark" aria-labelledby="wod-toggle">
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                        <a class="dropdown-item text-light" href="#" routerLink="/WOD">WOD</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="(userDetails$ | async)?.isLoggedIn">
                        <a class="dropdown-item text-light" href="#" routerLink="/WOD/Create">Add WOD</a>
                    </li>
                    <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" *ngIf="!(userDetails$ | async)?.isLoggedIn">
                        <a class="dropdown-item text-light" href="#" routerLink="/SignIn">Sign In</a>
                    </li>
                    <li *ngIf="(userDetails$ | async)?.isLoggedIn">
                        <a class="dropdown-item text-light" href="#" (click)="onSignOut()" >Sign Out</a>
                    </li>
                </ul>
            </div>

            <app-mode-toggle></app-mode-toggle>
        </div>

    </div>
</div>

<button  id="nav-toggle" class="btn btn-dark d-lg-none d-block position-fixed bottom-0 end-0 m-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
    <i class="fs-4 bi bi-arrow-bar-left"></i>
</button>
