<section class="container min-vh-100">
    <div class="row py-4">
        <div class="col-12">
            <div class=" d-flex flex-column align-items-start my-contact-info position-relative mx-auto">
                <h1 class="text-center w-100 my-4">Take my Info!</h1>
                <span class="mb-2 position-relative ms-4">Hi! Here is my contant info!</span>
                <span class="mb-2 position-relative ms-4"><i class="bi bi-envelope"></i>&nbsp;jgrquezada@gmail.com</span>
                <span class="mb-2 position-relative ms-4"><i class="bi bi-telephone"></i>&nbsp;(720) 123-4567</span>
                <span class="mb-2 position-relative ms-4"><i class="bi bi-pin-map"></i>&nbsp;Denver, CO <small class="position-absolute start-0 d-block mt-3 text-light">Read Today</small></span>
                <div class="col-12 w-100 text-end">
                    <i class="bi bi-github me-3 fs-1"></i>
                    <i class="bi bi-linkedin me-3 fs-1"></i>
                </div>
            </div>
            <form class="mt-5 card bg-dark p-3 mx-auto" style="max-width: 750px;" [formGroup]="contactForm" (ngSubmit)="onSend()">
                <h2>Let's Collaborate!</h2>

                <!-- User Input -->
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input [ngClass]="{'is-invalid': contactForm.get('firstname')?.errors && (contactForm.get('firstname')?.touched || contactForm.get('firstname')?.dirty), 'is-valid':contactForm.get('firstname')?.valid}" type="text" class="form-control" id="firstname" aria-describedby="firstname-feedback" formControlName="firstname">
                    <div *ngIf="!contactForm.get('firstname')?.valid && contactForm.get('firstname')?.touched" id="firstname-feedback" class="form-text text-danger">First name is required.</div>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input [ngClass]="{'is-invalid': contactForm.get('lastname')?.errors && (contactForm.get('lastname')?.touched || contactForm.get('lastname')?.dirty), 'is-valid':contactForm.get('lastname')?.valid}" type="text" class="form-control" id="lastname" aria-describedby="lastname-feedback" formControlName="lastname">
                    <div *ngIf="!contactForm.get('lastname')?.valid && contactForm.get('lastname')?.touched" id="lastname-feedback" class="form-text text-danger">Last name is required.</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input [ngClass]="{'is-invalid': contactForm.get('email')?.errors && (contactForm.get('email')?.touched || contactForm.get('email')?.dirty), 'is-valid':contactForm.get('email')?.valid}" type="email" class="form-control" id="email" aria-describedby="email-feedback" formControlName="email">
                    <div *ngIf="!contactForm.get('email')?.valid && contactForm.get('email')?.touched" id="email-feedback" class="form-text text-danger">An email is required and must be valid.</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea [ngClass]="{'is-invalid': contactForm.get('message')?.errors && (contactForm.get('message')?.touched || contactForm.get('message')?.dirty), 'is-valid':contactForm.get('message')?.valid}" class="form-control" id="message" rows="3" formControlName="message"></textarea>
                    <div *ngIf="!contactForm.get('message')?.valid && contactForm.get('message')?.touched" id="lastname-feedback" class="form-text text-danger">Don't be shy. Please write a message.</div>
                </div>

                <!-- Submit -->
                <button class="btn btn-primary" type="submit" style="width: fit-content;"><i class="bi bi-send"></i>&nbsp;Send</button>
            </form>
        </div>
    </div>
</section>