
.my-contact-info > span::before{
    content: "";
    position: absolute;
    height: 20px;
    width: 20px;
    left: -10px;
    bottom: 0;
    border-radius: 50%;
    background-color: #1982FC;
}
.my-contact-info > span::after{
    content: "";
    position: absolute;
    height: 25px;
    width: 20px;
    left: -20px;
    bottom: 1px;
    border-radius: 7px;
    background-color: #0c1011;
}

.my-contact-info > span{
    font-weight: 300;
    background-color: #1982FC;
    padding: 0.5em 1em;
    border-radius: 2em;
    position: relative;
    color: #1B2432;;
}
.my-contact-info
{
    z-index: 0;
    max-width: 750px;
}
.my-contact-info::after{
    content: "";
    background-image: url(../../assets/images/texture.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    border-radius: 1rem;
} 

@media (min-width: 992px) 
{
    .container {
        min-height: calc(100vh - 75px) !important;
    }
}