<section class="container min-vh-100">
    <div class="row py-4">
        <div class="col-12">
            <div class=" d-flex flex-column align-items-start my-contact-info position-relative mx-auto">
                <h1 class="text-center w-100 my-4">Take my Info!</h1>
                <span class="mb-2 position-relative ms-4">Hi! Here is my contant info!</span>
                <span class="mb-2 position-relative ms-4"><i class="bi bi-envelope"></i>&nbsp;jgrquezada@gmail.com</span>
                <span class="mb-2 position-relative ms-4"><i class="bi bi-telephone"></i>&nbsp;(720) 123-4567</span>
                <span class="mb-2 position-relative ms-4"><i class="bi bi-pin-map"></i>&nbsp;Denver, CO <small class="position-absolute start-0 d-block mt-3 text-light">Read Today</small></span>
                <div class="col-12 w-100 text-end">
                    <i class="bi bi-github me-3 fs-1"></i>
                    <i class="bi bi-linkedin me-3 fs-1"></i>
                </div>
            </div>
            <form class="mt-5 card bg-dark p-3 mx-auto" style="max-width: 750px;">
                <h2>Let's Collaborate!</h2>

                <!-- User Input -->
                <div class="mb-3">
                    <label for="firstname" class="form-label">First Name</label>
                    <input type="text" class="form-control" id="firstname" aria-describedby="firstname-feedback">
                    <div id="firstname-feedback" class="form-text d-none">First Name is required.</div>
                </div>
                <div class="mb-3">
                    <label for="lastname" class="form-label">Last Name</label>
                    <input type="text" class="form-control" id="lastname" aria-describedby="lastname-feedback">
                    <div id="lastname-feedback" class="form-text d-none">Last Name is required.</div>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email-feedback">
                    <div id="email-feedback" class="form-text d-none">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3">
                    <label for="message" class="form-label">Message</label>
                    <textarea class="form-control" id="message" rows="3"></textarea>
                </div>

                <!-- Submit -->
                <button class="btn btn-primary" type="submit" style="width: fit-content;"><i class="bi bi-send"></i>&nbsp;Send</button>
            </form>
        </div>
    </div>
</section>