


.skill-logo::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    height: 2px;
    background-color: white;
    display: block;
}


@media (max-width: 767px) {
    .skill-logo::before {
        display: none;
    }
}
