<div class="container min-vh-100">
    <div class="row py-4">
        <div class="col-12 px-0 px-md-3">
            <form class="mt-5 card bg-dark p-3 mx-auto" style="max-width: 750px;" [formGroup]="wodForm" (ngSubmit)="onSubmit()">
                <h2>Get Better!</h2>

                <!-- User Input -->
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input [ngClass]="{'is-invalid': wodForm.get('title')?.errors && (wodForm.get('title')?.touched || wodForm.get('title')?.dirty), 'is-valid':wodForm.get('title')?.valid}" type="text" class="form-control" id="title" aria-describedby="title-feedback" formControlName="title">
                    <div *ngIf="!wodForm.get('title')?.valid && wodForm.get('title')?.touched" id="title-feedback" class="form-text text-danger">Title is required.</div>
                </div>
                <div class="mb-3 row g-3">
                    <div class="col">
                        <label for="level" class="form-label">Level</label>
                        <select [ngClass]="{'is-invalid': wodForm.get('level')?.errors && (wodForm.get('level')?.touched || wodForm.get('level')?.dirty), 'is-valid':wodForm.get('level')?.valid}" id="level" class="form-select" formControlName="level">
                            <option>...</option>
                          </select>
                        <div *ngIf="!wodForm.get('level')?.valid && wodForm.get('level')?.touched" id="level-feedback" class="form-text text-danger">Level is required.</div>
                    </div>

                    <div class="col">
                            <label for="date" class="form-label">Date</label>
                            <div class="input-group date" id="datepicker">
                                <input type="text" class="form-control" id="date" formControlName="date"/>
                                <span>
                                  <span class="input-group-text bg-light d-block">
                                    <i class="bi bi-calendar3"></i>
                                  </span>
                                </span>
                            </div>
                            <div *ngIf="!wodForm.get('date')?.valid && wodForm.get('date')?.touched" id="date-feedback" class="form-text text-danger">Date is required.</div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input [ngClass]="{'is-invalid': wodForm.get('description')?.errors && (wodForm.get('description')?.touched || wodForm.get('description')?.dirty), 'is-valid':wodForm.get('description')?.valid}" type="text" class="form-control" id="description" aria-describedby="description-feedback" formControlName="description">
                    <div *ngIf="!wodForm.get('description')?.valid && wodForm.get('description')?.touched" id="description-feedback" class="form-text text-danger">Description is required.</div>
                </div>
                <div class="mb-3">
                    <label for="coach-tip" class="form-label">Coach Tip</label>
                    <textarea [ngClass]="{'is-invalid': wodForm.get('coach-tip')?.errors && (wodForm.get('coach-tip')?.touched || wodForm.get('coach-tip')?.dirty), 'is-valid':wodForm.get('coach-tip')?.valid}" class="form-control" id="coach-tip" rows="3" formControlName="coach-tip"></textarea>
                    <!--<div *ngIf="!wodForm.get('coach-tip')?.valid && wodForm.get('coach-tip')?.touched" id="coach-tip-feedback" class="form-text text-danger"></div>-->
                </div>
                <div class="mb-3">
                    <label for="results" class="form-label">Results</label>
                    <textarea [ngClass]="{'is-invalid': wodForm.get('results')?.errors && (wodForm.get('results')?.touched || wodForm.get('results')?.dirty), 'is-valid':wodForm.get('results')?.valid}" class="form-control" id="results" rows="3" formControlName="results"></textarea>
                    <div *ngIf="!wodForm.get('results')?.valid && wodForm.get('results')?.touched" id="results-feedback" class="form-text text-danger">Results is required.</div>
                </div>

                <!-- Submit -->
                <button class="btn btn-primary" type="submit" style="width: fit-content;"><i class="bi bi-send"></i>&nbsp;Send</button>
            </form>
        </div>
    </div>
</div>