<div class="card rounded bg-dark mb-3 p-0 shadow">
    <div class="card-body p-4 text-light">
        <div class="d-flex align-items-center mb-2">
            <img src="../../../../assets/svg/angular.svg" alt="Angular" class="img-fluid p-1" style="max-width: 75px;">
            <div class="flex-grow-1 ms-3">
                <div class="d-flex flex-column justify-content-start mb-1">
                
                    <!-- Project Title -->
                    <h4 class="mb-3">Title Here</h4>

                    <!-- Technology Stack -->
                    <ul class="m-0 list-unstyled d-flex flex-row flex-wrap">
                        <li class="badge rounded-pill bg-light text-dark me-2 mb-2">Light</li>
                        <li class="badge rounded-pill bg-light text-dark me-2 mb-2">Light</li>
                        <li class="badge rounded-pill bg-light text-dark me-2 mb-2">Light</li>
                        <li class="badge rounded-pill bg-light text-dark me-2 mb-2">Light</li>
                    </ul>

                </div>
            </div>
        </div>

        <hr>
        
        <p class="my-4 pb-1">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
        <button type="button" class="btn btn-outline-light btn-rounded btn-md float-end">
            <i class="bi bi-github"></i> Check Repository
        </button>
    </div>
</div>