<div class="container-fluid p-0">
    <div class="row">
        <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmitChange()" class="col-12 w-100 bg-dark text-light d-flex flex-column justify-content-center mx-auto">
            <h1 class="text-center text-light mb-5">Verify & Enter New Password</h1>

            <div class="mb-3 col-12 col-md-8 col-lg-6 mx-auto">
                <label for="currentPassword" class="form-label">Current Password</label>
                <input [ngClass]="{'is-invalid': changePasswordForm.get('currentPassword')?.errors && (changePasswordForm.get('currentPassword')?.touched || changePasswordForm.get('currentPassword')?.dirty), 'is-valid':changePasswordForm.get('currentPassword')?.valid}" formControlName="currentPassword" type="password" class="form-control" id="currentPassword" name="currentPassword">
                <div *ngIf="!changePasswordForm.get('currentPassword')?.valid && changePasswordForm.get('currentPassword')?.touched" id="current-password-feedback" class="form-text text-danger">Password is required.</div>
            </div>

            <div class="mb-3 col-12 col-md-8 col-lg-6 mx-auto">
                <label for="newPassword" class="form-label">New Password</label>
                <input [ngClass]="{'is-invalid': changePasswordForm.get('newPassword')?.errors && (changePasswordForm.get('newPassword')?.touched || changePasswordForm.get('newPassword')?.dirty), 'is-valid':changePasswordForm.get('newPassword')?.valid}" formControlName="newPassword" type="password" class="form-control" id="newPassword" name="newPassword">
                <ul class="list-group" *ngIf="!changePasswordForm.get('newPassword')?.valid && changePasswordForm.get('newPassword')?.touched">
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="changePasswordForm.get('newPassword')?.hasError('required')">New password is required.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="changePasswordForm.get('newPassword')?.hasError('doesNotContainDigit')">Must contain digit.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="changePasswordForm.get('newPassword')?.hasError('doesNotContainLowercase')">Must contain lowercase letter.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="changePasswordForm.get('newPassword')?.hasError('doesNotContainUppercase')">Must contain uppercase letter.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="changePasswordForm.get('newPassword')?.hasError('doesNotContainNonAlphanumeric')">Must contain non-alphanumeric.</li>
                    <li class="list-group-item form-text text-danger p-1 border-0" *ngIf="changePasswordForm.get('newPassword')?.hasError('minlength')">Must be minimum 8 characters in length.</li>
                </ul>
            </div>

            <div class="mb-3 col-12 col-md-8 col-lg-6 mx-auto">
                <label for="confirmPassword" class="form-label">Confirm New Password</label>
                <input [ngClass]="{'is-invalid': changePasswordForm.get('confirmPassword')?.errors && (changePasswordForm.get('confirmPassword')?.touched || changePasswordForm.get('confirmPassword')?.dirty), 'is-valid':changePasswordForm.get('confirmPassword')?.valid}" formControlName="confirmPassword" type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <div *ngIf="!changePasswordForm.get('confirmPassword')?.valid && changePasswordForm.get('confirmPassword')?.touched && changePasswordForm.get('confirmPassword')?.hasError('matching')" class="form-text text-danger">Passwords do not match.</div>
            </div>

            <button class="btn btn-primary mt-2 col-12 col-md-8 col-lg-6 mx-auto" type="submit" >Change Password</button>

        </form>
    </div>
</div>