.calendar{
    width: 300px;
}


.mat-form-field-underline{
    position: absolute !important;
    bottom: 0 !important;
}

.mat-form-field {
    width: 100%;
}

.wod-form-container, .container {
    min-height: 100vh;
}


.wod-form {
    max-width: 700px;
}

@media (min-width: 768px) 
{
    .wod-form {
        max-width: 700px;
    }
}

@media (min-width: 992px) 
{
    .wod-form-container, .container {
        min-height: calc(100vh - 75px);
    }
}

@media (max-width: 767px) 
{
    .wod-form {
        border: none;
    }

    .wod-background {
        display: none;
    }
}

.buttons-popover {
    bottom: -60px;
    left: 50%;
    min-width: calc(100% + 2em);
    transform: translateX(-50%);
    width: max-content;
  }

  .logs-button {
    left: -25px;
    top: -25px;
    width: 50px !important;
    height: 50px;
}