<section class="row h-100 pt-5 p-sm-0">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center position-relative">

        <div id="form-container" class="col-11 col-md-10 mx-0 col-lg-8 mx-0 mt-md-5 card bg-dark text-light mx-md-auto shadow-lg position-relative" style="max-width: 800px;">

            <a title="View Training" href="#" routerLink="/WOD" class="d-flex btn btn-primary position-absolute logs-button rounded-circle text-center" style="width: fit-content;">
                <i class="bi bi-list-task h4 m-auto"></i>
            </a>

            <form class="py-3 px-0 px-md-3 active position-relative" [formGroup]="wodForm" (ngSubmit)="onSubmit()">

                <!-- User Input -->

                <!-- Header & DatePicker -->
                <div class="mb-3 row g-3">
                    <div class="col-12 col-md-6">
                        <h2 class="text-light" style="display: inline-block">Get Better!</h2>
                    </div>
                    <div class="col-12 col-sm-6 ms-auto">
                        <label for="date" class="form-label">Date</label>
                        <mat-form-field appearance="fill">
                            <input [ngClass]="{'is-invalid': wodForm.get('date')?.errors && (wodForm.get('date')?.touched || wodForm.get('date')?.dirty), 'is-valid':wodForm.get('date')?.valid }"  matInput [matDatepicker]="picker" [min]="minDate" formControlName="date" placeholder="MM/DD/YYYY">
                            
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                        <div *ngIf="!wodForm.get('date')?.valid && wodForm.get('date')?.touched" id="date-feedback" class="form-text text-danger">Date is required.</div>
                    </div>
                </div>

                <!-- Title & Level -->
                <div class="mb-3 row g-3">

                    <div class="col-12 col-sm-6">
                        <label for="title" class="form-label">Title</label>
                        <input formControlName="title" [ngClass]="{'is-invalid': wodForm.get('title')?.errors && (wodForm.get('title')?.touched || wodForm.get('title')?.dirty), 'is-valid':wodForm.get('title')?.valid }" type="text" class="form-control text-black" id="title" aria-describedby="title-feedback">
                        <div *ngIf="!wodForm.get('title')?.valid && wodForm.get('title')?.touched" id="title-feedback" class="form-text text-danger">Title is required.</div>
                    </div>


                    <div class="col-12 col-sm-6">
                        <label for="level" class="form-label">Level</label>
                        <select [ngClass]="{'is-invalid': wodForm.get('level')?.errors && (wodForm.get('level')?.touched || wodForm.get('level')?.dirty), 'is-valid':wodForm.get('level')?.valid }" id="level" class="form-select text-black" formControlName="level">
                            <option [ngValue]="null" selected>Select WOD Level</option>
                            <option *ngFor="let level of levels" [ngValue]="level.id">{{ level.name }}</option>
                          </select>
                        <div *ngIf="!wodForm.get('level')?.valid && wodForm.get('level')?.touched" id="level-feedback" class="form-text text-danger">Level is required.</div>
                    </div>
                </div>

                <!-- Description -->
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <textarea rows="3" [ngClass]="{'is-invalid': wodForm.get('description')?.errors && (wodForm.get('description')?.touched || wodForm.get('description')?.dirty), 'is-valid':wodForm.get('description')?.valid}" class="form-control text-black" id="description" aria-describedby="description-feedback" formControlName="description">
                    </textarea>
                    <div *ngIf="!wodForm.get('description')?.valid && wodForm.get('description')?.touched" id="description-feedback" class="form-text text-danger">Description is required.</div>
                </div>

                <!-- Coach Tip -->
                <div class="mb-3">
                    <label for="coach-tip" class="form-label">Coach Tip</label>
                    <textarea class="form-control text-black" id="coach-tip" rows="3" formControlName="coach-tip">
                    </textarea>
                </div>

                <!-- Results -->
                <div class="mb-3">
                    <label for="results" class="form-label">Results</label>
                    <textarea [ngClass]="{'is-invalid': wodForm.get('results')?.errors && (wodForm.get('results')?.touched || wodForm.get('results')?.dirty), 'is-valid':wodForm.get('results')?.valid }" class="form-control text-black" id="results" rows="3" formControlName="results">
                    </textarea>
                    <div *ngIf="!wodForm.get('results')?.valid && wodForm.get('results')?.touched" id="results-feedback" class="form-text text-danger">Results is required.</div>
                </div>

                <div class="row m-0 card position-absolute p-3 buttons-popover">
                    <!-- Submit -->
                    <div class="col p-0">
                        <button class="btn btn-primary me-2 no-hightlight " type="submit" style="width: fit-content;"><i class="bi bi-save"></i><span class="button-detail ms-2">{{ wodId != null? 'Update' :'Save' }}</span></button>
                        <button *ngIf="wodId != null" class="btn btn-danger no-hightlight me-2" type="button" style="width: fit-content;" (click)="onConfirm(content)"><i class="bi bi-trash3"></i><span class="button-detail ms-2">Delete</span></button>
                    
                        <button class="btn btn-primary no-hightlight float-end m-0 me-md-2" type="button" style="width: fit-content;" (click)="onSelectWOD(wods)"><i class="bi bi-pencil-square"><span class="button-detail ms-2">Edit</span></i></button>
                        <button title="Clear Form" class="btn btn-primary float-end no-hightlight me-2 " type="button" (click)="onClearForm()"><i class="bi bi-x-lg"></i><span class="button-detail ms-2">Clear</span></button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>


<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Deletion Confirmation</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
      <p>Are you sure you want to delete WOD?</p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" (click)="onDeleteWOD()">Delete</button>
        <button type="button" class="btn btn-outline-light" (click)="c('Cancel click')">Cancel</button>
    </div>
</ng-template>


  <ng-template #wods let-c="close" let-d="dismiss">
    <div class="modal-header text-light bg-dark">
      <h4 class="modal-title" id="modal-basic-title">Select WOD to Edit</h4>
      <button type="button" class="btn-close text-light bg-dark" aria-label="Close" (click)="d('Cross click')"></button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-12 text-light bg-dark d-flex flex-column align-items-center" >

                <h4>Select Date Range to Pull WODs</h4>
                <div class="col">
                    <ngb-datepicker 
                    #dp 
                    (dateSelect)="onDateSelection($event)" 
                    [showWeekNumbers]="showWeekNumbers" 
                    [outsideDays]="outsideDays" 
                    [navigation]="navigation" 
                    [displayMonths]="1" 
                    [dayTemplate]="t" 
                    outsideDays="hidden">
                    </ngb-datepicker>
                
                    <ng-template #t let-date let-focused="focused">
                        <span
                            class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null"
                            >
                            {{ date.day }}
                        </span>
                    </ng-template>
                </div>
                <div class="col d-none">
                    <div><span class="h5">From:</span> {{ fromDate.month + '/' + fromDate.day + '/' + fromDate.year }} </div>
                    <div *ngIf="toDate != null" ><span class="h5">To:</span>  {{ toDate.month + '/' + toDate.day + '/' + toDate.year }} </div>
                </div>

            <div class="col-12 d-flex p-3 justify-content-evenly">
                <span><span class="h5">From:</span> {{ fromDate.month + '/' + fromDate.day + '/' + fromDate.year }} </span>
                <i class="bi bi-arrow-right fs-4"></i>
                <span *ngIf="toDate != null" ><span class="h5">To:</span>  {{ toDate.month + '/' + toDate.day + '/' + toDate.year }} </span>
                <span *ngIf="toDate == null" ><span class="h5">To:</span> <i class="bi bi-question-lg"></i> </span>
            </div>

            <hr/>

            <div class="col-12">
                <div class="list-group">

                    <a href="#" [attr.data-id]="w.id" (click)="onWODSelected($event)" class="list-group-item list-group-item-action bg-dark text-light" aria-current="true" *ngFor="let w of (wods$ | async)">
                      <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{w.title}}</h5>
                        <small>{{ w.date | date: 'EEEE, MMMM d, y'}}</small>
                      </div>
                      <p class="mb-1 d-none">{{ w.description }}</p>
                      <small>{{w.results}}</small>
                    </a>

                </div>
            </div>

            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button *ngIf="toDate != null && fromDate != null" type="button" class="btn btn-outline-light no-hightlight" (click)="onLoadWODs()">Load WODs</button>
    </div>
  </ng-template>