.app-container{
    background-color: lightgray;
    min-height: 100vh;
    min-width: 100vw;
}



/*Medium devices (tablets, 768px and up)*/
@media (max-width: 991px) 
{
    .app-container > div 
    {
        padding-top: 0;
    }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) 
{
    .app-container > div 
    {
        padding-top: 75px;
    }
}