<section class="container my-5 position-relative bg-dark text-light" id="projects">
      <div class="row m-0 w-100">
        <div class="col-12 position-relative">
            <h2 class="mb-4 section-header text-light">Recent Projects</h2>
        </div>
        <div class="col-md-12 d-flex justify-content-around flex-column flex-wrap flex-md-row my-4">
            <app-project-card *ngFor="let p of projects" [projectInfo]="p" class="col-12 col-md-6 col-xl-4 px-2 d-flex"></app-project-card>
        </div>
      </div>
</section>