<div class="container-fluid p-0">
    <div class="row">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
        <div id="user-side-bar" class="d-flex flex-column flex-shrink-0 p-3 bg-dark user-side-bar position-fixed bottom-0 text-center border-end border-light">
            <a id="user-side-bar-toggle" class="user-side-bar-toggle" href="#" (click)="onToggleUserPanel($event)">
                <i class="bi bi-arrow-right-circle"></i>
            </a>
            <div class="d-flex align-items-center link-light text-center ms-auto me-auto">
                <i class="bi bi-gear me-1 fs-4"></i>
                <span class="fs-4 text-center">User Actions</span>
            </div>
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
              <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="(userDetails$ | async)?.isLoggedIn && (userDetails$ | async)?.isAdministrator">
                <a href="#" class="nav-link link-light px-1" (click)="onNavLinkClicked($event)" [attr.data-link]="'/User/' + (userDetails$ | async)?.id +'/Register'">
                    <i class="bi bi-person-plus fs-4"></i>
                    Register
                </a>
              </li>
              <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link link-light px-1" (click)="onNavLinkClicked($event)" [attr.data-link]="'/User/' + (userDetails$ | async)?.id +'/WOD'">
                    <i class="bi bi-fire fs-4"></i>
                    Log WOD
                </a>
              </li>
              <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" *ngIf="(userDetails$ | async)?.isLoggedIn && (userDetails$ | async)?.isAdministrator">
                <a href="#" (click)="onNavLinkClicked($event)" [attr.data-link]="'/User/' + (userDetails$ | async)?.id +'/StrengthTraining'" class="nav-link link-light px-1" title="Log New Workout">
                  <i class="bi bi-award fs-4"></i>
                    Log Workout
                </a>
              </li>
              <li class="nav-item"  routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">
                <a href="#" class="nav-link link-light px-1" (click)="onNavLinkClicked($event)" [attr.data-link]="'/User/' + (userDetails$ | async)?.id +'/ChangePassword'">
                    <i class="bi bi-key fs-4"></i>
                    Change Password
                </a>
              </li>
            </ul>
            <hr>
            <div class="dropdown mx-auto">
              <a href="#" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="userOptions" data-bs-toggle="dropdown" aria-expanded="false">
                <img [src]="profileSource" *ngIf="profileSource" alt="Profile Picture" width="75px" class="rounded-circle me-2 img-circle">
                <i class="bi bi-person-circle me-2" *ngIf="!profileSource" style="font-size: 3rem;"></i>
                <strong>Hi {{(userDetails$ | async)?.firstName}}!</strong>
              </a>
              <ul class="dropdown-menu text-small shadow bg-dark" aria-labelledby="userOptions">
                <li>
                    <a class="dropdown-item text-light" href="#" (click)="onSignOut($event)">
                        <i class="bi bi-lock fs-4"></i>
                        Logout
                    </a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>