<section class="container my-5 position-relative">
    <div class="row">
        <div class="col-12 position-absolute top-0 left-0 right-0 skills-watermark d-none">
        </div>
        <div class="skills-header col-12">
            <h2>Development Skills</h2>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
        </div>
        <div class="skill-logos col-12 d-flex justify-content-around align-items-center flex-wrap g-2">
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/angular.svg" alt="Angular" title="Angular" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1 d-none">
                <img src="../../../assets/svg/bitbucket.svg" alt="BitBucket" title="BitBucket" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/bootstrap.svg" alt="Bootstrap" title="Bootstrap" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/c-sharp.svg" alt="C#" title="C#" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/css.svg" alt="CSS" title="CSS" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/dot-net.svg" alt=".Net Core" title=".Net Core" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/git.svg" alt="Git" title="Git" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/html.svg" alt="HTML" title="HTML" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/javascript.svg" alt="JavaScript" title="JavaScript" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/jquery.svg" alt="jQuery" title="jQuery" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/sql-server.svg" alt="Microsoft SQL Server" title="Microsoft SQL Server" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1">
                <img src="../../../assets/svg/typescript.svg" alt="TypeScript" title="TypeScript" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1 d-none">
                <img src="../../../assets/svg/visual-studio-code.svg" alt="Visual Studio Code" title="Visual Studio Code" />
            </div>
            <div class=" col-2 p-2 col-lg-1 p-lg-1 d-none">
                <img src="../../../assets/svg/visual-studio.svg" alt="AnguVisual Studio" title="Visual Studio" />
            </div>
        </div>
    </div>
</section>