.skills-watermark
{
    background-image: url(../../../assets/images/do-something-great.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.skill-logos 
{
    z-index: 2;
}

.skills-header{
    z-index: 2;
}





.terminal-buttons {
    position: relative;
    background-color: yellow;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    margin-left: 1em;
}
.terminal-buttons::after {
    content: "";
    position: absolute;
    left: 100%;
    background-color: green;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    margin-left: .4em;
}

.terminal-buttons::before {
    content: "";
    position: absolute;
    right: 100%;
    background-color: red;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    display: block;
    margin-right: .4em;
}



@media (max-width: 991px) {
    .inner-nav {
        position: absolute;
        top: 0;
        left: 0;
    }
}