.skills-watermark
{
    background-image: url(../../../assets/images/do-something-great.jpg);
    height: 200px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.skill-logos 
{
    z-index: 2;
}

.skills-header{
    z-index: 2;
}



@media (max-width: 991px) {
    .inner-nav {
        position: absolute;
        top: 0;
        left: 0;
    }
}





.skills:before {
    content: "";
    width: .2em;
    height: 100%;
    background: white;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: block;
}


.skill-logo::before {
    content: "";
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
    height: 2px;
    background-color: white;
    display: block;
}

.skills > div:nth-child(even) .skill-logo::before {
    left: 0;
}

.skills > div:nth-child(even) {
    flex-direction: row-reverse;
}
.skills > div:nth-child(odd) {
    flex-direction: row; 
}


@media (max-width: 767px) {
    .skills:before {
        display: none;
    }
    .skill-logo::before {
        display: none;
    }
}
