<section class="container position-relative bg-dark text-light min-vh-100 p-4 d-flex">
    <div class="row my-auto w-100 col">
        <div class="col-12 position-relative">
            <h2 class="mb-4 section-header text-light">Top Skills</h2>
        </div>

        <div class="col-12 mt-4">
            
            <div class="card bg-dark text-center col-12 border-light">
                <div class="card-header p-3">
                    <span class="terminal-buttons"></span>
                </div>
                <div class="card-body p-0 border-top border-light">



                    <div class="text-start p-2 d-none" style="color: greenyellow;">
                        joseramirez@Joses-Portfolio ~ % cd Skills/
                    </div>



                    <div class=" row position-relative col-12 m-auto">
                        <ul class="inner-nav shadow nav nav-pills d-lg-flex d-block flex-nowrap flex-lg-column position-lg-relative flex-row p-3 col-12 col-lg-3 justify-content-evenly" style="overflow-x: auto;white-space: nowrap;">
                            <li class="nav-item d-inline-block me-2">
                              <a class="nav-link" href="#" name="filter" data-value="Frontend" id="frontend-skill" (click)="onFilter($event)">Front End</a>
                            </li>
                            <li class="nav-item d-inline-block me-2">
                              <a class="nav-link" href="#" name="filter" data-value="Backend" id="backend-skill" (click)="onFilter($event)">Back End</a>
                            </li>
                            <li class="nav-item d-inline-block me-2">
                              <a class="nav-link" href="#" name="filter" data-value="Frameworks" id="frameworks-skill" (click)="onFilter($event)">Frameworks</a>
                            </li>
                            <li class="nav-item d-inline-block me-2">
                                <a class="nav-link" name="filter" href="#" data-value="Development" id="development-skill" (click)="onFilter($event)">Development</a>
                              </li>
                        </ul>


                          
                        <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-offset="0" tabindex="0" class="col-12 col-lg-9 mt-5 p-2 pt-4 mt-lg-0" style="min-height: 50vh;">
                          <div class="container">
                            <div class="skills position-relative mt-4">
                            
                                <div class="row col-12 m-0 mb-4 d-flex" *ngFor="let skill of mySkills$ | async">
                                    <div class="skill-logo position-relative col-12 col-md-6 d-flex justify-content-center pe-0 mb-3 m-md-0">
                                        <div class="rounded-circle bg-light d-flex justify-content-center skill-image" style="width: 150px; height: 150px">
                                        <img src="../../../assets/svg/{{skill.image}}" style="width: 100px;">
                                        </div>
                                    </div>
                                    <div class="position-relative col-12 col-md-6 pe-0">
                                        <h5 class="h3 text-light font-weight-bold">{{skill.title}}</h5>
                                        <p class="font-weight-light">
                                            {{skill.description}}
                                        </p>
                                    </div>
                                </div>
                            
                            </div>
                        </div>
                          <!--<router-outlet></router-outlet>-->
                        </div>
                    </div>


                </div>
              </div>
        </div>
    </div>
</section>