<div class="container-fluid p-0">
    <div class="row">
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmitChange()" class="col-12 w-100 bg-dark text-light d-flex flex-column justify-content-center mx-auto">
            <h1 class="text-center text-light mb-5">Forgot Password</h1>

            <div class="mb-3 col-12 col-md-8 col-lg-6 mx-auto">
                <label for="email" class="form-label">Email</label>
                <input [ngClass]="{'is-invalid': forgotPasswordForm.get('email')?.errors && (forgotPasswordForm.get('email')?.touched || forgotPasswordForm.get('email')?.dirty), 'is-valid':forgotPasswordForm.get('email')?.valid}" formControlName="email" type="email" class="form-control" id="email" name="email">
                <div *ngIf="!forgotPasswordForm.get('email')?.valid && forgotPasswordForm.get('email')?.touched" id="email-feedback" class="form-text text-danger">Email is required.</div>
            </div>

            <button class="btn btn-primary mt-2 mx-auto" type="submit" >Reset Password</button>

        </form>
    </div>
</div>