.profile-background
{
    background-image: url(../../assets/images/texture-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    max-height:200px;
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-top-left-radius: 0.375rem;
    border-top-right-radius: 0.375rem;
}

.profile-background::after
{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.3;
    border-radius: inherit;
}