<section class="min-vh-100">
    <div class="container py-2">
      <div class="row d-flex justify-content-center">
        <div class="col col-lg-12 col-xl-12 p-0">
          <div class="card border-0 border-light rounded-0 bg-dark text-light">

            <!-- Personal Info -->
            <div class="rounded-top d-flex flex-row" style="max-height: 200px;">
                <div class="profile-background"></div>
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">

                    <img src="../../assets/images/SelfPortrait.jpg" alt="Self Portrait" class="img-fluid img-thumbnail mt-4 mb-2 bg-light " style="max-width: 150px; z-index: 1;">
                    
                    <button type="button" class="btn btn-outline-light" data-mdb-ripple-color="dark" style="z-index: 1;">
                        <i class="fs-5 bi bi-linkedin"></i>
                        Profile
                    </button>
                </div>
                <div class="ms-3 mt-auto" style="z-index: 1;">
                    <h5 class="text-light">Jose G. Ramirez Quezada</h5>
                    <p class="text-light">Denver, CO</p>
                </div>
            </div>

            <!-- Data Points -->
            <div class="p-4 card-header rounded-bottom shadow-sm border-0">
              <div class="d-flex justify-content-end text-center py-4">
                <div class="px-3">
                  <p class="mb-1 h5 text-light">3 Years</p>
                  <p class="small text-muted mb-0 text-light">Experience</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4">

                <!-- About Author -->
                <div class="mb-5">

                  <div class="card text-start col-12 border-light shadow">
                    <div class="card-header px-4 d-flex justify-content-between align-items-center">
                        <span class="terminal-buttons"></span>
                        <h2 class="lead fw-normal h4 float-end m-0 text-light">About Author</h2>
                    </div>
                    <div class="card-body p-3 border-top border-light bg-dark text-light">
    
                      <span>Who am I?</span>
                      <p>
                      Hi, my name is <strong>Jose Ramirez</strong> - a full-stack web developer. I consider myself a “forever student” with an interest to tackle challenges. I stay tune with the best programming practices with continued course work and professional development. I keep a work-life balance by practicing CrossFit during my free time, and occasionally enjoy the outdoors.
                      </p>
                      <span>Present</span>
                      <p>
                      I've parked my bike at Charter Communications after graduating from the University of Colorado Denver, within a year I was able to work my way up from an intern position to a Software Engineer III title. I seek opportunities to grow both personally and professionally whenever given the chance.
                      </p>
                      <span>Future</span>
                      <p>
                      I am eager to take my next steps in my career at a company where my effort produces meaningful experiences while achieving customer goals, but also where having a strong work ethic is appreciated and valued. 
                      </p>
    
                    </div>
                  </div>
                </div>

                <!-- Recent Projects -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0">Recent Projects</p>
                    <a href="#" class="text-muted">See Git</a>
                </div>
                <div class="row g-2">

                  <div class="col-12 col-md-6 mb-2">
                    <app-project-card></app-project-card>
                  </div>
                  <div class="col-12 col-md-6 mb-2">
                    <app-project-card></app-project-card>
                  </div>

                </div>
                <div class="row g-2">
                  <div class="col-12 col-md-6 mb-2">
                    <app-project-card></app-project-card>
                  </div>
                  <div class="col-12 col-md-6 mb-2">
                    <app-project-card></app-project-card>
                  </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>