<section class="min-vh-100">
    <div class="container py-2">
      <div class="row d-flex justify-content-center">
        <div class="col col-lg-12 col-xl-12 p-0">
          <div class="card">

            <!-- Personal Info -->
            <div class="rounded-top text-white d-flex flex-row" style="max-height: 200px;">
                <div class="profile-background"></div>
                <div class="ms-4 mt-5 d-flex flex-column" style="width: 150px;">
                    <img src="../../assets//images/SelfPortrait.jpg" alt="Self Portrait" class="img-thumbnail mt-4 mb-2 " style="max-width: 150px; z-index: 1;">
                    
                    <button type="button" class="btn btn-outline-dark" data-mdb-ripple-color="dark" style="z-index: 1;">
                        <i class="fs-5 bi bi-linkedin"></i>
                        Profile
                    </button>
                </div>
                <div class="ms-3 mt-auto" style="z-index: 1;">
                    <h5>Jose G. Ramirez Quezada</h5>
                    <p>Denver, CO</p>
                </div>
            </div>

            <!-- Data Points -->
            <div class="p-4 text-black" style="background-color: #f8f9fa;">
              <div class="d-flex justify-content-end text-center py-4">
                <div class="px-3">
                  <p class="mb-1 h5">1026</p>
                  <p class="small text-muted mb-0">Followers</p>
                </div>
              </div>
            </div>
            <div class="card-body p-4 text-black">

                <!-- About Author -->
                <div class="mb-5">
                <p class="lead fw-normal mb-1">About Author</p>
                <div class="p-4" style="background-color: #f8f9fa;">
                    <span>Who am I?</span>
                    <p>
                    Hi, my name is <strong>Jose Ramirez</strong> - a full-stack web developer. I consider myself a “forever student” with an interest to tackle challenges. I stay tune with the best programming practices with continued course work and professional development. I keep a work-life balance by practicing CrossFit during my free time, and occasionally enjoy the outdoors.
                    </p>
                    <span>Present</span>
                    <p>
                    I've parked my bike at Charter Communications after graduating from the University of Colorado Denver, within a year I was able to work my way up from an intern position to a Software Engineer III title. I seek opportunities to grow both personally and professionally whenever given the chance.
                    </p>
                    <span>Future</span>
                    <p>
                    I am eager to take my next steps in my career at a company where my effort produces meaningful experiences while achieving customer goals, but also where having a strong work ethic is appreciated and valued. 
                    </p>
                </div>
                </div>

                <!-- Recent Projects -->
                <div class="d-flex justify-content-between align-items-center mb-4">
                    <p class="lead fw-normal mb-0">Recent Projects</p>
                    <a href="#" class="text-muted">See Git</a>
                </div>
                <div class="row g-2">
                <div class="col mb-2">
                    <img src="../../assets/images/lights.jpg" alt="Project" class="w-100 rounded-3">
                </div>
                <div class="col mb-2">
                    <img src="../../assets/images/for-the-world.jpg"
                    alt="image 1" class="w-100 rounded-3">
                </div>
                </div>
                <div class="row g-2">
                <div class="col">
                    <img src="../../assets/images/do-something-great.jpg"
                    alt="image 1" class="w-100 rounded-3">
                </div>
                <div class="col">
                    <img src="../../assets/images/colors.jpg"
                    alt="image 1" class="w-100 rounded-3">
                </div>
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>