<div class="container-fluid p-0 m-0 position-relative">

    <div class="row">
        <div class="col-12">
            <h1 class="py-3">My Training</h1>
        </div>
    </div>

    <!-- CROSSFIT -->
    <section class="row ms-0 ms-sm-3">

        <h2 class="ps-0 ps-sm-3">CrossFit Training</h2>

        <div class="col-12 ps-0 ps-sm-3">
            <div class="accordion position-relative" id="crossfit-accordion">


                <div class="accordion-item mb-2 border-0 rounded-0">
    
                    <!-- ACCORDION TITLE -->
                    <h2 class="accordion-header position-relative" id="crossfit-heading">
                        <button class="accordion-button rounded-0 p-2 m-0 d-block position-relative text-light shadow-none text-uppercase" type="button" data-bs-toggle="collapse" data-bs-target="#crossfit-body"  aria-expanded="false" aria-controls="crossfit-body">
                        CrossFit Workouts
                        <span class="btn btn-primary position-absolute top-0 start-0 bottom-0 text-light rounded-circle d-flex justify-content-center align-items-center"><i class="bi bi-caret-right-fill"></i></span>
                        </button>
                    </h2>
    
                    <!-- ACCORDION BODY -->
                    <div class="accordion-collapse collapse show" id="crossfit-body" aria-labelledby="crossfit-heading">
                        <div class="accordion-body text-light ms-5">
                            <div class="row">
                                <app-wod-card *ngFor="let wod of (wods$ | async)! | sortByProperty: 'date':'ASC'" class="col-12 col-md-6 col-lg-3 mb-2 d-flex" (cardSelected)="onCardSelected($event)" [wod]="wod"></app-wod-card>        
                                <div class="text-center" *ngIf="(wods$ | async)?.length == 0">
                                        <p class="h4"><i class="bi bi-emoji-frown-fill me-2"></i>No recent data found</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <!--<div class="row m-0 pt-4 mt-lg-4">
        <div id="wod-container" class="col-12 d-flex flex-row flex-wrap justify-content-evenly">
            <app-wod-card *ngFor="let wod of (wods$ | async)" class="col-12 col-md-5 col-lg-3 mb-2 me-2 d-flex" (cardSelected)="onCardSelected($event)" [wod]="wod"></app-wod-card>        
        </div>
    </div>-->


    <section class="row ms-0 ms-sm-3 mt-3">

        <h2 class="ps-0 ps-sm-3" >Strength Training</h2>
    
        <div class="col-12 ps-0 ps-sm-3">
    
            <div class="accordion position-relative" id="training-accordion">
    
    
                <div class="accordion-item mb-2 border-0 rounded-0"  *ngFor="let workout of (statistics$ | async)! | sortByProperty: 'exerciseName':'ASC'; let index = index">
                    <!-- ACCORDION TITLE -->
                    <h2 class="accordion-header position-relative" id="{{'training-accordion-header-' + index}}">
                        <button class="accordion-button collapsed rounded-0 p-2 m-0 d-block position-relative text-light shadow-none text-uppercase" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#training-accordion-body-' + index"  aria-expanded="true" [attr.aria-controls]="'training-accordion-body-' + index">
                            {{workout.exerciseName}}
                        <span class="btn btn-primary position-absolute top-0 start-0 bottom-0 text-light rounded-circle d-flex justify-content-center align-items-center"><i class="bi bi-caret-right-fill"></i></span>
    
                        </button>
                    </h2>
    
                    <!-- ACCORDION BODY -->
                    <div class="accordion-collapse collapse" id="{{'training-accordion-body-' + index}}" [attr.aria-labelledby]="'training-accordion-header-' + index">
                        <div class="accordion-body text-light ms-5">
                            <div class="row d-flex">
                                <div class="col-md-3 col-sm-6 text-center mb-4 mb-md-0">
                                    <div class="border border-light rounded py-3 h-100">
                                        <i class="bi bi-award h1 d-block"></i>
                                        <span class="h3">{{workout.highestWeight}}lbs</span>
                                        <p class="text-uppercase fw-light">Personal Record</p>
                                    </div>
                                </div>
    
                                <div class="col-md-3 col-sm-6 text-center mb-4 mb-md-0">
                                    <div class="border border-light rounded py-3 h-100">
                                        <i class="bi bi-bar-chart-line h1 d-block"></i>
                                        <span class="h3">{{workout.latestWeight}}lbs</span>
                                        <p class="text-uppercase fw-light">Last Weight</p>
                                    </div>
                                </div>
    
                                <div class="col-md-3 col-sm-6 text-center mb-4 mb-md-0">
                                    <div class="border border-light rounded py-3 h-100">
                                        <i class="bi bi-arrow-bar-up h1 d-block"></i>
                                        <span class="h3">{{workout.lowestWeight}}lbs</span>
                                        <p class="text-uppercase fw-light">Lowest Weight</p>
                                    </div>
                                </div>

                                <div class="col-md-3 col-sm-6 text-center mb-4 mb-md-0" *ngIf="(userDetails$ | async)?.isLoggedIn && (userDetails$ | async)?.isAdministrator">
                                    <a class="border-0 border-light rounded py-3 d-flex justify-content-center align-items-center h-100" title="Log New Workout" href="#" [routerLink]="['/User', (userDetails$ | async)?.id, 'StrengthTraining']">
                                        <i class="bi bi-gear h1"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
    
              </div>
    
        </div>
    </section>

    <!--<app-training></app-training>-->

</div>